---
import Layout from '../layouts/Layout.astro';
import Markdown from '../components/Markdown.astro';

---

<Layout title="Questo è il blog">
    <h1 class="mb-10">Pianteverdi è il sito che definitivo per le piante d'appartamento</h1>
    
    <p>Seguimi e lo scoprirai!
      
    </p>
</Layout>
