---
import Layout from '../layouts/Layout.astro';
import Markdown from '../components/Markdown.astro';

---

<Layout title="Questo è il blog">
    <h1 class="mb-10">Blog</h1>
    
    <p>Pagina blog
      
    </p>
</Layout>
